variables:
  PRODUCT_NAME: atlasprint

stages:
- lint
- test
- build
- deploy
- release


# ------------
# Lint
# ------------
lint:
  image: ${REGISTRY_URL}/factory-ci-runner:qgis-release
  tags:
    - factory-plain
  stage: lint
  script:
    - make lint
  allow_failure: true

# ------------
# Tests
# ------------

.tests:
  image: ${REGISTRY_URL}/factory-ci-runner:factory-ci
  tags:
    - factory-dind
  stage: test
  script:
    - make docker-test QGIS_VERSION=$QGIS_FLAVOR

qgis-tests:
  extends: .tests
  parallel:
    matrix:
      - QGIS_FLAVOR: [
        "3.34",
        "3.40",
        "3.44",
        "nightly-release",
      ]


# NOTE: Following jobs are triggered only on RELEASE_BRANCH == "true"

# 
# Packages 
#


build:
  image: $REGISTRY_URI/factory-ci-runner:qgis-plugin-ci
  stage: build
  tags:
    - factory-plain
  rules:
    - if: '$CI_COMMIT_TAG =~ /^(?:release-|v)?\d+\.\d+\.\d+(?:-.*)?$/'
      variables:
        PRERELEASE: ""
        STATUS: stable
    - if: $RELEASE_BRANCH == "true"
      variables:
        PRERELEASE: "--pre"
        STATUS: unstable
  script:
      - echo "Building plugin ${PRODUCT_NAME} STATUS=${STATUS}"
      - yapt-pkg package $PRERELEASE
      - echo "PACKAGE=`ls -1 *.zip`" > build.env
      - echo "STATUS=$STATUS" >> build.env
      - cat build.env
  artifacts:
    reports:
      dotenv: build.env
    paths:
      - "*.zip"


deploy:
  image: $REGISTRY_URI/factory-ci-runner:fabric-ci
  stage: deploy 
  tags:
    - fabric
  rules:
    - if: '$CI_COMMIT_TAG =~ /^(?:release-|v)?\d+\.\d+\.\d+(?:-.*)?$/'
    - if: $RELEASE_BRANCH == "true"
  dependencies:
    - build
  script:
    - upload_plugins ${PRODUCT_NAME} ${PACKAGE} ${STATUS}
    - update-snap-qgis-plugins

#
# Release
#

# XXX Deprecate ci-tools and adapts scripts to qgis-plugin-ci runner

release:
  image:
    name: $REGISTRY_URI/infra/ci-tools:latest
  tags:
    - factory-plain
  stage: release
  rules:
    - if: '$CI_COMMIT_TAG =~ /^(?:release-|v)?\d+\.\d+\.\d+(?:-.*)?$/'
  script:
    - create_ticket.py
    - gitlab_release

